firmware/build
firmware/.cache
firmware/nixpkgs-esp-dev
PCB/elrs-hardware
PCB/DangerDoughnut/DangerDoughnut-backups
PCB/PowerSwitch/PowerSwitch-backups
PCB/LEDStick/LEDStick-backups
PCB/XT30RightAngleAdapter/XT30RightAngleAdapter-backups
CAD/GCODE
firmware/components/POVDisplay/bin/
firmware/components/POVDisplay/lib/
firmware/components/POVDisplay/lib64
firmware/components/POVDisplay/pyvenv.cfg
~*